<section class="login-background">
  <div class="left-side">
    <div class="session-header">
      <%= image_tag "LogoLogo.svg" %>
      <h1>Bitevia Software</h1>
    </div>  
  </div>

  <div class="right-side">
    <div class="session-form">
      <h2>¿Olvidaste tu contraseña?</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", style: "margin-bottom: 30px;" %>
        </div>

        <div class="actions">
          <%= f.submit "Restablecer la contraseña" %>
        </div>
      <% end %>

      <hr>
      <%= render "devise/shared/links" %>
    </div>  
  </div>
  

</section>
